<div class="modal fade" id="newPaymentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Record Client Payment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'new-payment' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                  <div class="row mb-3">
                <div class="col">
                  <label for="exampleInputPassword1" class="form-label fw-bold">Client Name</label>
                  <select class="form-select" id="client" name="client">
                    <option></option>
                    {% for client in clients %}
                        <option value="{{client.id}}">{{client}}</option>
                    {% endfor %}
                  </select>
                </div>
                
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Amount Paid</label>
                    <input
                      type="number"
                      class="form-control"
                      id="amount"
                      name="amount"
                      required
                    />
                  </div>
                  
                </div>
                <div class="row mb-3">
                  <div class="col">
                    <label for="exampleInputPassword1" class="form-label fw-bold">Paid Through</label>
                    <select class="form-select" id="payment_method" name="payment_method">
                        <option></option>
                        {% for payment_method in payment_methods %}
                            <option value="{{payment_method}}">{{payment_method}}</option>
                        {% endfor %}
                    </select>
                  </div>
                
                
                  <div class="col">
                    <label class="form-label fw-bold">Reason For Payment</label>
                    <select class="form-select" id="payment_reason" name="payment_reason">
                        <option></option>
                        {% for payment_reason in payment_reasons %}
                            <option value="{{payment_reason}}">{{payment_reason}}</option>
                        {% endfor %}
                      </select>
                  </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="exampleInputPassword1" class="form-label fw-bold">Date Paid</label>
                        <input
                          type="date"
                          class="form-control"
                          id="date_paid"
                          name="date_paid"
                          required
                        />
                    </div>
                  </div>
                
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Submit Payment</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>