{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-8">
        <h3>Clients Installments</h3>
    </div>
    <div class="col-4">
      <form method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <div class="row">
            <div class="col-8">
              <input type="text" class="form-control" name="search_text" id="search_text" required placeholder="ID Number..." >
            </div>
            <div class="col-4">
              <button class="btn btn-success">Search</button>
            </div>
          </div>
          
        </div>
      </form>
    </div>
</div>
      <div class="table-responsive small">
        {% include "includes/installments_table.html" %}
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
{% endblock content %}