<div class="modal fade" id="markInstallmentModal{{installment.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Mark Installment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'mark-installment' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <input type="number" id="installment_id" name="installment_id" value="{{installment.id}}" hidden />
            
                <div class="row mb-3">
                  <div class="col">
                    <label class="form-label fw-bold">Mark Installment As?</label>
                    <select class="form-select" id="action_type" name="action_type" value="{{installment.status}}">
                        <option value="{{installment.status}}">{{installment.status}}</option>
                        {% for status in installment_statuses %}
                            {% if status != installment.status %}
                                <option value="{{status}}">{{status}}</option>
                            {% endif %}
                        {% endfor %}
                      </select>
                  </div>

                </div>
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>