<div class="modal fade" id="checkoutVisitorModal{{visitor.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Checkout Visitor</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'checkout-visitor' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <div class="mb-2">
                    <p>Are you sure to checkout visitor named <b>{{visitor.name}}?</b></p>
                </div>
                <div class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="visitor_id"
                      name="visitor_id"
                      value="{{visitor.id}}"
                      readonly
                      hidden
                      required
                    />
                  </div>
                 
                <div class="text-center mt-2">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Close</button>
                    <button type="submit" class="btn btn-success">Yes, Checkout</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>