<div class="modal fade" id="assignUnitModal{{unit.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Assign Unit to Client</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'assign-unit' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-2">
                        <p><b>Unit Number: </b>{{unit.unit_number}}</p>
                        <p><b>Property: </b>{{unit.property.name}}</p>
                    </div>
               <hr>
                <div class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="unit_id"
                      name="unit_id"
                      value="{{unit.id}}"
                      readonly
                      hidden
                      required
                    />
                  </div>
                
                <div class="mb-3">
                    <label class="form-label fw-bold">Select Client</label>
                    <select class="form-select" id="client_id" name="client_id">
                        <option></option>
                        {% for client in clients %}
                            <option value="{{client.id}}">{{client}}</option>
                        {% endfor %}
                    </select>
                </div>
                 
                <div class="text-center mt-2">
                    <button type="submit" class="btn btn-success">Assign Unit</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>